</div><!-- this is the end of the body div-->
<div class="footer-container">
    <footer>
        <div>
            copyright &copy; 2025 Apostolic Dominion Holy Convention. All rights reserved.
        </div>
        <div></div>
        <div></div>
    </footer>
</div>
</body>
</html>